[submodule "TEngine/vendor/spdlog"]
	path = TEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TEngine/vendor/GLFW"]
	path = TEngine/vendor/GLFW
	url = https://github.com/t0my1z/glfw
[submodule "TEngine/vendor/imgui"]
	path = TEngine/vendor/imgui
	url = https://github.com/t0my1z/imgui
[submodule "TEngine/vendor/glm"]
	path = TEngine/vendor/glm
	url = https://github.com/g-truc/glm
